
<div class="container dashboard-one">
  <div class="columns">
    <div class="column is-4">Create Playlist
      <div class="container">
          <div class="control">
            <input class="input is-rounded" id="playlist-search-btn" type="text" placeholder="Enter playlist name">
          </div>
        <div class="control">
          <a class="button is-rounded is-warning">
            Submit
          </a>
        </div>
      </div>
      
    </div>
    <div class="column is-4 is-flex-direction-column">
        <form action="/dashboard" method="POST">
  <input type="text" name="artistName" placeholder="Enter artist name">
  <button type="submit">Search</button>
</form>
    {{#each songs as |song|}}
    <div class="columns is-flex-direction-row is-flex-wrap player">
      <div class="column">
        <div class="img">
          <img src="{{song.coverUrl}}">
        </div>
      </div>
      <div class="column">
        <div>
          {{song.title}}
        </div>
      </div>
      </div>
      <button class="button">Save</button>
        {{/each}}
    </div>
  </div>

  <script src="/js/songSearch.js"></script>
