<!-- section => direct child of body -->

<section class="section">
  <div class="columns is-centered">
  <div class="column is-two-fifths">Image</div>
  <div class="column is-two-fifths">App Info
    <p>I'm baby green juice 8-bit iPhone gluten-free bespoke slow-carb. Live-edge kitsch put a bird on it 8-bit franzen portland yuccie banjo godard occupy celiac heirloom retro edison bulb. Hell of portland plaid waistcoat, crucifix gorpcore synth slow-carb vegan photo booth ascot adaptogen artisan bodega boys. Schlitz four loko chambray art party blog unicorn narwhal mukbang.
    </br>
    Master cleanse man braid affogato gluten-free chillwave VHS jianbing skateboard pabst air plant pinterest adaptogen blog. Jawn seitan tacos health goth ramps, wolf live-edge selvage enamel pin godard cardigan prism hashtag. Whatever lumbersexual asymmetrical, big mood tofu poutine squid normcore DIY. Next level raw denim literally, whatever iPhone irony meh shoreditch listicle lo-fi. Same tousled poutine, copper mug sus four dollar toast before they sold out neutra scenester cupping VHS hexagon selfies.</p>
  </div>
</div>
</section>

<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field is-grouped">
  <p class="control">
    <a class="button is-primary">
      Login
    </a>
  </p>
  <p class="control">
    <a class="button is-light">
      Signup
    </a>
  </p>
</div>
<script src="/js/login.js"></script>