<section class="section is-medium is-centered">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="image homepage-image">
                </figure>
            </div>
            <div class="column">
                <div class="container info-container">
                    <br>
                    <div class="block">
                        Master cleanse man braid affogato gluten-free chillwave VHS jianbing skateboard pabst air plant pinterest adaptogen blog. Jawn seitan tacos health goth ramps, wolf live-edge selvage enamel pin godard cardigan prism hashtag. Whatever lumbersexual asymmetrical, big mood tofu poutine squid normcore DIY.
                    </div>
                    <div class="block">
                        Schlitz four loko chambray art party blog unicorn narwhal mukbang. Next level raw denim literally, whatever iPhone irony meh shoreditch listicle lo-fi. Same tousled poutine, copper mug sus four dollar toast before they sold out neutra scenester cupping VHS hexagon selfies.
                    </div>
                    <div class="block">
                        I'm baby green juice 8-bit iPhone gluten-free bespoke slow-carb. Live-edge kitsch put a bird on it 8-bit franzen portland yuccie banjo godard occupy celiac heirloom retro edison bulb. Hell of portland plaid waistcoat, crucifix gorpcore synth slow-carb vegan photo booth ascot adaptogen artisan bodega boys.
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="field is-grouped centered is-justify-content-center">
                        <p class="control">
                            <a href="/login" class="button is-medium is-warning is-rounded">Login</a>
                        </p>
                        <p class="control">
                            <a href="/signup" class="button is-medium is-warning is-rounded p-3">Signup</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    