<section class="section is-medium is-centered">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="image homepage-image">
                </figure>
            </div>
            <div class="column">
                <div class="container info-container">
                    <br>
                    <div class="block">
                    On a mission to uncover a world of musical treasures that speaks to our heart and soul. The thrill of exploring new songs, artists, and genres is an adventure to embark upon.
                    </div>
                    <div class="block">
                    Discovering both established legends and fresh talents is what it's all about. Understanding the stories behind each artist's creation and feeling the passion they pour into their work.
                    </div>
                    <div class="block">
                    With each song, we hope you connect on a personal level, finding melodies that match your mood, uplift your spirits, or provide solace during challenging times. By immersing yourself in the melodies and lyrics, hoping to deepen your appreciation for the power of music as a universal language that transcends boundaries.
                </div>
                <br>
                <div class="container">
                    <div class="field is-grouped centered is-justify-content-center">
                        <p class="control">
                            <a href="/login" class="button is-medium is-warning is-rounded">Login</a>
                        </p>
                        <p class="control">
                            <a href="/signup" class="button is-medium is-warning is-rounded p-3">Signup</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    