<section class="section is-medium is-centered">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="image homepage-image">
                </figure>
            </div>
            <div class="column">
                <div class="login-signup">
                    <form class="form signup-form">
                        <div class="field">
                            <label class="label">Email</label>
                        </div>
                        <div class="control">
                            <input class="input" type="email" id="email-signup" placeholder="e.g. email@email.com">
                        </div>
                        <div class="form-group">
                            <label class="label">Name:</label>
                        </div>
                        <div class="control">
                            <input class="input" type="text" id="name-signup">
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                        </div>
                        <div class="control">
                            <input class="input" type="password" id="password-signup" placeholder="Password">
                        </div>
                        <div>
                            <button class="button is-warning is-rounded">Sign Up</button>
                            <p class="p-2">Already a member?<a href="/login"> Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/signup.js"></script>

</section>


