  <div class="hero is-fullheight">
      <div class="hero-body is-justify-content-center is-align-items-center">
        <div class="columns is-flex is-flex-direction-column box">
          <div class="column">
            <label for="name">Name</label>
            <input class="input is-primary" type="text" id="name-signup" placeholder="Enter Name">
          </div>
          <div class="column">
            <label for="email">Email</label>
            <input class="input is-primary" type="text" id="email-signup" placeholder="Email address">
          </div>
          <div class="column">
            <label for="Name">Password</label>
            <input class="input is-primary" type="password" id="password-signup" placeholder="Password">
            <input type="checkbox">
              I agree to the <a href="#" class="has-text-primary">terms and conditions</a>
            </label>
          </div>
          <div class="column">
            <button class="button create is-primary is-fullwidth" type="submit">Create an account</button>
          </div>
          <div class="has-text-centered">
        </div>
      </div>
    </div>
<script src="/js/signup.js"></script>