/* Global Styles */
body {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}

/* Sections */
section {
    margin-top: -60px;
}

/* Navbar Styles */
.navbar {
    padding: 30px 30px 0px 30px;
}

.navbar-menu {
    border-radius: 80px;
    padding-left: 20px;
    border: 2px solid black;
}

.navbar-end {
    padding-right: 20px;
}

.navbar-start {
    padding-left: 15px;
}

/* Container Styles */
.container {
    border-radius: 25px;
}

/* Homepage Image */
.homepage-image {
    height: 700px;
    width: 100%;
    background-image: url("../images/image.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

/* Block Styles */
.block {
    padding: 10px;
}

/* Signup Container */
.signup-container {
    display: flex;
}

/* Input Label Box */
.input-label-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
}

/* Column Container */
.col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Dashboard One */
.dashboard-one {
    margin-top: 40px;
}

/* Playlist Box */
.playlist-box {
    min-height: 700px;
    min-width: 330px;
    border-radius: 25px;
    border: 2px solid black;
}

/* Player Styles */
.player {
    width: 600px;
    height: 200px;
    overflow: hidden;
    margin: 5px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.header {
    border-bottom: 1px solid #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.img {
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
    background: linear-gradient(120deg, rgba(255, 224, 138, 255), #ffe168);
    overflow: hidden;
    margin-top: 15px;
}

.img img {
    width: 150px;
    height: 150px;
