body {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(125, 165, 180);
    min-height: 1000px;
}

h5 {
    font-size: 25px;
    font-weight: bold;
}

section {
    margin-top: -60px;
}

label {
    padding-bottom: 10px;
}

.navbar {
    padding: 30px 30px 0px 30px;
    background-color: rgb(118, 161, 176);
}

.navbar-menu {
    border-radius: 80px;
    padding-left: 20px;
    border: 2px solid black;
    background-color: rgb(118, 161, 176);
}

.navbar-end {
    padding-right: 20px;
}

.navbar-start {
    padding-left: 15px;
}

.container {
    border-radius: 25px;
}

/* Add and set dimensions of homepage image */
.homepage-image {
    height: 700px;
    width: 100%;
    background-image: url("../images/image.png");
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.block {
    padding: 10px;
}

.signup-container {
    display: flex;
}

.input-label-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.login-form {
    background-color: rgb(125, 165, 180);
}

/* Container for input field columns and register button */
.col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.input-label-box {
    padding-top: 20px;
}

.dashboard-one {
    margin-top: 40px;
}

.playlist-box {
    min-height: 700px;
    min-width: 330px;
    border-radius: 25px;
    margin-left: 15px;
    border: 2px solid black;
}

.song-result-box {
    margin-left: 35px;
}

.card {
    width: 540px;
    height: 200px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.img {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
    background-color: #ffe168;
    margin-top: 15px;
  }
  
  .img img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
    z-index: 9999;
  }

